################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs/PosFiapTech1/FileContentIndex/ed61bcb9-9e48-4647-a915-122876247040.vsidx
/.gitignore
