################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs/PosFiapTech1/FileContentIndex/ed61bcb9-9e48-4647-a915-122876247040.vsidx
/.gitignore
/.vs/PosFiapTech1/FileContentIndex/3784ff33-f4a8-4486-a154-2e0e6cbbb1ff.vsidx
/.vs/PosFiapTech1/FileContentIndex/ab564acf-221e-4431-8d18-9ec110d52845.vsidx
/.vs/PosFiapTech1/FileContentIndex/9733afc8-8512-4973-a756-f6818efb299a.vsidx
/.vs/PosFiapTech1/FileContentIndex/999677c6-86e9-46e5-b8c9-431ddc5cbb73.vsidx
